<div class="nav-push">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="pad-bottom-md text-center">
          {{fa-icon "medium" fixedWidth=true size=2}}
          <h2 class="pad-top-sm">Create An Organization</h2>
        </div>
        {{#x-card}}
          {{#if errors.length}}
            <div class="alert alert-danger" role="alert">
              {{fa-icon "exclamation-triangle"}} Please correct the highlighted fields below.
            </div>
          {{/if}}
          <div class="form-group input-group-icon">
            {{input type="text" class="form-control" placeholder="Organization Name" value=model.name}}
            {{fa-icon "group" fixedWidth=true}}
          </div>
          <div class="card-footer">
            <button {{action "createOrganization"}} type="submit" class="btn btn-success">Create Organization</button>
          </div>
        {{/x-card}}
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
</div>

{{#if currentlyLoading}}
  <div class="loading-screen">
    {{x-loader message="Creating Your New Organization..."}}
  </div>
{{/if}}