<div class="nav-push">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {{#x-card title="Score Summary"}}
            <div class="row">
                <div class="col-sm-4">
                    <p><strong>Lowest Score</strong></p>
                    <div class="color-box danger-bg text-center white-text">
                      <p>{{fa-icon "star-o" fixedWidth=true}} {{low_score.score}}</p>
                    </div>
                </div>

                <div class="mg-bottom-md visible-xs"></div>

                <div class="col-sm-4">
                    <p><strong>Average Score</strong></p>
                    <div class="color-box warning-bg text-center">
                      <p>{{fa-icon "star-half-o" fixedWidth=true}} {{average_score}}</p>
                    </div>
                </div>

                <div class="mg-bottom-md visible-xs"></div>

                <div class="col-sm-4">
                    <p><strong>Highest Score</strong></p>
                    <div class="color-box primary-bg text-center white-text">
                      <p>{{fa-icon "star" fixedWidth=true}} {{high_score.score}}</p>
                    </div>
                </div>
            </div>
        {{/x-card}}
        {{#x-card title="Feedback Summary"}}
            <div class="row">
                <div class="col-md-12">
                    <ul class="icons-list">
                        {{#each (sort-by "type" model.feedback) as |feedback|}}
                            <li class="{{concat "icons-list--" feedback.type}}">{{feedback.message}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        {{/x-card}}
      </div>
      <div class="col-md-4">
        {{#if model.parent.isModerator}}
          {{#x-callout-card title="Moderator"}}
            <div class="card-header">
                {{x-timer}}
            </div>
            <a onclick={{route-action "changeRetrospectiveState" 6}} class="btn btn-block btn-success btn-lg btn-callout">Continue {{fa-icon "angle-right" fixedWidth=true}}</a>
            <div class="row">
                <div class="col-xs-6">
                    <a onclick={{route-action "changeRetrospectiveState" 4}} class="btn btn-block btn-info btn-outline">{{fa-icon "angle-left" fixedWidth=true}} Back</a>
                </div>
                <div class="col-xs-6">
                    <a class="btn btn-block btn-danger btn-outline">{{fa-icon "times" fixedWidth=true}} Cancel</a>
                </div>
            </div>
          {{/x-callout-card}}
        {{/if}}
        {{#x-card title="Retrospective Participants"}}
            {{retrospective-submission-list
                members=model.parent.retrospective.participants
                currentUser=model.parent.currentUser
                userList=true
            }}
        {{/x-card}}
      </div>
    </div>
  </div>
</div>
