<div class="nav-push">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {{#x-card title="Summary" overlay=submitted}}
            
        {{/x-card}}
      </div>
      <div class="col-md-4">
        {{#if model.parent.isModerator}}
          {{#x-callout-card title="Moderator"}}
            <div class="card-header">
                {{x-timer}}
            </div>
            <a onclick={{route-action "changeRetrospectiveState" 6}} class="btn btn-block btn-success btn-lg btn-callout">Continue {{fa-icon "angle-right" fixedWidth=true}}</a>
            <div class="row">
                <div class="col-xs-6">
                    <a onclick={{route-action "changeRetrospectiveState" 4}} class="btn btn-block btn-info btn-outline">{{fa-icon "angle-left" fixedWidth=true}} Back</a>
                </div>
                <div class="col-xs-6">
                    <a class="btn btn-block btn-danger btn-outline">{{fa-icon "times" fixedWidth=true}} Cancel</a>
                </div>
            </div>
          {{/x-callout-card}}
        {{/if}}
        {{#x-card title="Retrospective Participants"}}
            {{retrospective-submission-list
                members=model.parent.retrospective.participants
                currentUser=model.parent.currentUser
                userList=true
            }}
        {{/x-card}}
      </div>
    </div>
  </div>
</div>
