<div class="container">
  <div class="row">
    <div class="col-md-12">
      {{#x-card title="History"}}
        <ul class="table-list">
          {{#each (sort-by "id:desc" model.retrospectives) as |retrospective|}}
            <li>
              <div class="score {{concat retrospective.scoreType "-bg"}}">
                {{#if retrospective.averageScore}}
                  {{retrospective.averageScore}}
                {{else}}
                  N/A
                {{/if}}
              </div>
              <div class="sprint-info">
                <h4>{{retrospective.name}}</h4>
                <p>
                {{fa-icon "group" class="info-text" fixedWidth=true}}
                {{#each retrospective.participants as |participant|}}
                  <span class="participant-name">{{participant.username}}</span>
                {{/each}}
                </p>
                </div>
            </li>
          {{/each}}
        </ul>
      {{/x-card}}
    </div>
  </div>
</div>
