{{#each sortedMembers as |member|}}
  <li class="three-actions">
    <div class="list-item">{{gravatar-image class="gravatar-nav" email=member.email}} {{member.username}}</div>
    <div class="list-actions">
      {{#if isAdmin}}
        {{#unless (array-contains member.teamAdmin team)}}
          <a {{action onConfirm "Are you sure you want to make this team member an admin?" (action onMakeAdmin member team)}} class="btn btn-success btn-outline btn-xs">{{fa-icon "arrow-up" fixedWidth=true}}</a>
        {{else}}
          {{#unless (eq member.id currentUser.id)}}
            <a {{action onConfirm "Are you sure you want to take away this member's admin rights?" (action onRemoveAdmin member team)}} class="btn btn-warning btn-outline btn-xs">{{fa-icon "arrow-down" fixedWidth=true}}</a>
          {{/unless}}
        {{/unless}}
        {{#unless (eq member.id currentUser.id)}}
          <a {{action onConfirm "Are you sure you want to remove this member from the team?" (action onDelete member team)}} class="btn btn-danger btn-outline btn-xs">{{fa-icon "user-times" fixedWidth=true}}</a>
        {{else}}
          <a {{action onConfirm "Are you sure you want to leave the team?" (action onDelete member team)}} class="btn btn-danger btn-outline btn-xs">{{fa-icon "sign-out" fixedWidth=true}}</a>
        {{/unless}}
        <a class="btn btn-info btn-outline btn-xs">{{fa-icon "user-circle" fixedWidth=true}}</a>
      {{else}}
        {{#if (eq member.id currentUser.id)}}
          <a {{action onConfirm "Are you sure you want to leave the team?" (action onDelete member team)}} class="btn btn-danger btn-outline btn-xs">{{fa-icon "sign-out" fixedWidth=true}}</a>
        {{/if}}
        <a class="btn btn-info btn-outline btn-xs">{{fa-icon "user-circle" fixedWidth=true}}</a>
      {{/if}}
    </div>
  </li>
{{/each}}
