{{#each (sort-by "id:desc" organizations) as |organization|}}
    <li>
        <div class="info">
            <h4>{{organization.name}}</h4>
            <p class="expiration">
                {{#if (contains organization.billing_status active_billing_types)}}
                    <span class="success-text">Billing Active</span>
                {{else}}
                    <span class="danger-text">Billing Inactive</span>
                {{/if}}
                 • <span class="muted-text">{{pluralize-word organization.teams.length "team"}}</span> 
            </p>
        </div>
        <div class="actions">
            <a class="btn btn-danger btn-outline btn-xs">
                {{fa-icon "times" fixedWidth=true}}
                {{#tooltip-on-element side="bottom"}}
                    Delete
                {{/tooltip-on-element}}
            </a>
            <a class="btn btn-success btn-outline btn-xs" {{action viewOrganization organization}}>
                {{fa-icon "arrow-right" fixedWidth=true}}
                {{#tooltip-on-element side="bottom"}}
                    View
                {{/tooltip-on-element}}
            </a>
        </div>
    </li>
{{/each}}