<div class="nav-push">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {{#x-card title="Waiting for team members to join..."}}
          {{x-list/retrospective/member
                members=model.team_members
                joined_members=model.retrospective.participants 
                currentUser=model.currentUser
            }}
        {{/x-card}}
      </div>
      <div class="col-md-4">
        {{#if isModerator}}
          {{#x-card/callout title="Moderator"}}
            <div class="card-header">
              {{x-timer}}
            </div>
            <a role="button" onclick={{action "changeRetrospectiveState" model.retrospective "start" 1}} class="btn btn-block btn-success btn-lg btn-callout">Continue {{fa-icon "angle-right" fixedWidth=true}}</a>
            <div class="row">
              <div class="col-xs-12">
                <a role="button" onclick={{action "onConfirm" "Are you sure you want to cancel the retrospective in progress?" (action "cancelRetrospective" model.retrospective)}} class="btn btn-block btn-danger btn-outline">{{fa-icon "times" fixedWidth=true}} Cancel</a>
              </div>
            </div>
          {{/x-card/callout}}
        {{/if}}
        {{#x-card title="While you wait..."}}
          <p>Take a minute to remember what happened over the last sprint and be prepared to discuss ways the sprint was great, as well as ways to improve.</p>
        {{/x-card}}
      </div>
    </div>
  </div>
</div>