{{#each (sort-by "id:desc" teams) as |team|}}
    <li>
        <div class="info">
            <h4>{{team.name}}</h4>
            <p class="expiration">
                <span class="muted-text">{{pluralize-word team.members.length "member"}}</span>
            </p>
        </div>
        <div class="actions">
            <a class="btn btn-danger btn-outline btn-xs">
                {{fa-icon "times" fixedWidth=true}}
                {{#tooltip-on-element side="bottom"}}
                    Delete
                {{/tooltip-on-element}}
            </a>
            <a class="btn btn-success btn-outline btn-xs" {{action viewTeam team}}>
                {{fa-icon "arrow-right" fixedWidth=true}}
                {{#tooltip-on-element side="bottom"}}
                    View
                {{/tooltip-on-element}}
            </a>
        </div>
    </li>
{{/each}}