<div class="nav-push">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {{#x-card title="Recent Retrospectives"}}
                    {{#if model.recent_retrospectives}}
                        {{team-history-list
                            retrospectives=model.recent_retrospectives
                            isAdmin=isAdmin
                            showTeams=true
                        }}
                    {{else}}
                        <p>It doesn't look like you've had any recent retrospectives!</p>
                    {{/if}}
                {{/x-card}}
            </div>
            <div class="col-md-4">
                {{#x-card title="Your Teams"}}
                    {{#if model.teams}}
                        {{team-list 
                            teams=model.teams
                            viewTeam=(route-action "viewTeam")
                            hideDelete=true
                        }}
                    {{else}}
                        <p>It doesn't look like you're a member of any teams!</p>
                    {{/if}}
                {{/x-card}}
                {{#if model.organizations}}
                    {{#x-card title="Your Organizations"}}
                        {{organization-list 
                            organizations=model.organizations
                            onView=(route-action "viewOrganization")
                            hideDelete=true
                        }}
                    {{/x-card}}
                {{/if}}
            </div>
        </div>
    </div>
</div>
