<div class="container">
  <div class="row">
    <div class="col-md-8">
      {{#x-card title="Retrospectives"}}
        <div class="text-center">
          {{#unless retrospective.in_progress}}
            <div class="spinner spinner-success">
              <div class="spinner__item1"></div>
              <div class="spinner__item2"></div>
              <div class="spinner__item3"></div>
              <div class="spinner__item4"></div>
            </div>
            <p>Waiting For Retrospective To Begin...</p>
            <small>Once a team member has started a retrospective, you'll be able to join the retrospective in progress.</small>
          {{else}}
            <p>{{fa-icon "check" fixedWidth=true size=2 class="success-text mg-bottom-sm mg-top-sm"}}</p>
            <p>A Retrospective Is Ready To Join</p>
            <a {{action 'joinRetrospective' retrospective.retrospective_id}} class="btn btn-success btn-outline mg-top-sm">Join The Retrospective {{fa-icon "arrow-right" fixedWidth=true}}</a>

          {{/unless}}
        </div>
      {{/x-card}}
      {{#unless retrospective.in_progress}}
        {{#x-card title="Start A Retrospective"}}
          <div class="row">
            <div class="col-md-2 col-sm-3 text-center">
              <img class="icons icons--thumbnail" src="/img/icons/sticky-notes.svg" />
            </div>
            <div class="col-md-10 col-sm-9 text-center-xs">
              <h4>Sticky Notes</h4>
              <p>Sticky notes is a simple game for retrospectives to extract important feedback from the team. It asks members for what their favorite part and least favorite part of the sprint were.</p>
            </div>
          </div>
          <div class="card-footer">
            <a {{action 'enterRetrospectiveType' 'sticky_notes'}} class="btn btn-success">Let's Start This Thing {{fa-icon "arrow-right" fixedWidth=true}}</a>
          </div>
        {{/x-card}}
      {{/unless}}
    </div>
    <div class="col-md-4">
      {{#x-card title="Tips"}}
        <ul class="tips">
          <li>
            Any member of the team can start a retrospective. This person
            becomes the moderator of that retrospective.
          </li>
          <li>
            Once a retrospective begins, team members will no longer be given
            the option to start a retrospective. Instead, they will see the
            option to join the session in progress.
          </li>
        </ul>
      {{/x-card}}
    </div>
  </div>
</div>

{{#if isRetroStartModalShowing}}
  {{#x-modal
    onClose=(route-action "cancelEnterRetrospectiveType")
    title="Start a Retrospective"
  }}
    {{#x-modal-body}}
      <p>To start a retrospective, enter the sprint number that corresponds to this retrospective.</p>
      <div class="form-group input-group">
        <div class="input-group-addon">Sprint #</div>
        {{input type="text" class="form-control" value=model.nextSprint}}
      </div>
    {{/x-modal-body}}
    {{#x-modal-footer}}
      <a {{action 'cancelEnterRetrospectiveType'}} class="btn btn-default btn-outline">Cancel</a>
      <a {{action 'startRetrospective'}} class="btn btn-success">Start Retrospective {{fa-icon "arrow-right" fixedWidth=true}}</a>
    {{/x-modal-footer}}
  {{/x-modal}}
{{/if}}

{{#if isBillingModalShowing}}
  {{#if isAdmin}}
    {{#x-modal
      onClose=(route-action "toggleBillingModal")
      title="Your Trial Period Has Ended"
    }}
      {{#x-modal-body}}
        <p>To start a new retrospective, billing information is required.</p>
      {{/x-modal-body}}
      {{#x-modal-footer}}
        <a {{action 'toggleBillingModal'}} class="btn btn-default btn-outline">Cancel</a>
        {{#link-to "app.teams.team.dashboard.billing" model.team class="btn btn-info"}}Enter Billing Information{{/link-to}}
      {{/x-modal-footer}}
    {{/x-modal}}
  {{else}}
    {{#x-modal
      onClose=(route-action "toggleBillingModal")
      title="Your Trial Period Has Ended"
    }}
      {{#x-modal-body}}
        <p>To start a new retrospective, billing information is required. Please notify a team admin that billing information needs to be provided before you are able to continue.</p>
      {{/x-modal-body}}
      {{#x-modal-footer}}
        <a {{action 'toggleBillingModal'}} class="btn btn-default btn-outline">OK</a>
      {{/x-modal-footer}}
    {{/x-modal}}
  {{/if}}
{{/if}}

{{#if currentlyLoading}}
  <div class="loading-screen">
    {{x-loader message=loadingMessage}}
  </div>
{{/if}}