<div class="container">
  <div class="row">
    <div class="col-md-8">
      {{#x-card title="Retrospectives"}}
        <div class="text-center">
          {{#unless hasRetroInProgress}}
            <div class="spinner spinner-success">
              <div class="spinner__item1"></div>
              <div class="spinner__item2"></div>
              <div class="spinner__item3"></div>
              <div class="spinner__item4"></div>
            </div>
            <p>Waiting For Retrospective To Begin...</p>
            <small>Once a team member has started a retrospective, you'll be able to join the retrospective in progress.</small>
          {{else}}
            <p>A Retrospective Is Ready To Join</p>
          {{/unless}}
        </div>
      {{/x-card}}
      {{#unless hasRetroInProgress}}
        {{#x-card title="Start A Retrospective"}}
          <div class="row">
            <div class="col-md-2 col-sm-3 text-center">
              <img class="icons icons--thumbnail" src="/img/icons/sticky-notes.svg" />
            </div>
            <div class="col-md-10 col-sm-9 text-center-xs">
              <h4>Sticky Notes</h4>
              <p>Sticky notes is a simple game for retrospectives to extract important feedback from the team. It asks members for what their favorite part and least favorite part of the sprint were.</p>
              <a {{action 'enterRetrospectiveType'}} class="btn btn-success btn-outline">Let's Start This Thing {{fa-icon "arrow-right" fixedWidth=true}}</a>
            </div>
          </div>
        {{/x-card}}
      {{/unless}}
    </div>
    <div class="col-md-4">
      {{#x-card title="Helpful Tips"}}
        <ul class="tips">
          <li>
            Any member of the team can start a retrospective. This person
            becomes the moderator of that retrospective.
          </li>
          <li>
            Once a retrospective begins, team members will no longer be given
            the option to start a retrospective. Instead, they will see the
            option to join the session in progress.
          </li>
        </ul>
      {{/x-card}}
    </div>
  </div>
</div>

{{#if isRetroStartModalShowing}}
  {{#x-modal
    onClose=(route-action "cancelEnterRetrospectiveType")
    title="Start a Retrospective"
  }}
    {{#x-modal-body}}
      <p>To start a retrospective, enter the sprint number that corresponds to this retrospective.</p>
      <div class="form-group input-group">
        <div class="input-group-addon">Sprint #</div>
        {{input type="text" class="form-control" value=model.nextSprint}}
      </div>
    {{/x-modal-body}}
    {{#x-modal-footer}}
      <a {{action 'cancelEnterRetrospectiveType'}} class="btn btn-default btn-outline">Cancel</a>
      <a {{action 'startRetrospective'}} class="btn btn-success">Start Retrospective {{fa-icon "arrow-right" fixedWidth=true}}</a>
    {{/x-modal-footer}}
  {{/x-modal}}
{{/if}}
