<div class="nav-push">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {{#x-card title="What Went Well" overlay=submitted}}
            <div class="row">
                <div class="col-sm-4">
                    <p><strong>To Do</strong></p>
                    {{#x-note-drop onDrop="moveFeedback" data=0}}
                        {{#each positive_feedback as |fb|}}
                            {{#if (eq fb.state 0)}}
                                {{#x-note data=fb isModerator=model.parent.isModerator type='good'}}
                                    {{fb.message}}
                                {{/x-note}}
                            {{/if}}
                        {{/each}}
                    {{/x-note-drop}}
                </div>

                <div class="mg-bottom-md visible-xs"></div>

                <div class="col-sm-4">
                    <p><strong>In Progress</strong></p>
                    {{#x-note-drop onDrop="moveFeedback" data=1}}
                        {{#each positive_feedback as |fb|}}
                            {{#if (eq fb.state 1)}}
                                {{#x-note data=fb isModerator=model.parent.isModerator type='good'}}
                                    {{fb.message}}
                                {{/x-note}}
                            {{/if}}
                        {{/each}}
                    {{/x-note-drop}}
                </div>

                <div class="mg-bottom-md visible-xs"></div>

                <div class="col-sm-4">
                    <p><strong>Done</strong></p>
                    {{#x-note-drop onDrop="moveFeedback" data=2}}
                        {{#each positive_feedback as |fb|}}
                            {{#if (eq fb.state 2)}}
                                {{#x-note data=fb isModerator=model.parent.isModerator type='good'}}
                                    {{fb.message}}
                                {{/x-note}}
                            {{/if}}
                        {{/each}}
                    {{/x-note-drop}}
                </div>
            </div>
        {{/x-card}}
      </div>
      <div class="col-md-4">
        {{#if model.parent.isModerator}}
          {{#x-callout-card title="Moderator"}}
            <div class="card-header">
                {{x-timer}}
            </div>
            <a onclick={{route-action "changeRetrospectiveState" 6}} class="btn btn-block btn-success btn-lg btn-callout">Continue {{fa-icon "angle-right" fixedWidth=true}}</a>
            <div class="row">
                <div class="col-xs-6">
                    <a onclick={{route-action "changeRetrospectiveState" 4}} class="btn btn-block btn-info btn-outline">{{fa-icon "angle-left" fixedWidth=true}} Back</a>
                </div>
                <div class="col-xs-6">
                    <a onclick={{route-action "confirmAction" "Are you sure you want to cancel the retrospective in progress?" (route-action "cancelRetrospective" retrospective)}} class="btn btn-block btn-danger btn-outline">{{fa-icon "times" fixedWidth=true}} Cancel</a>
                </div>
            </div>
          {{/x-callout-card}}
        {{/if}}
        {{#x-card title="Participants"}}
            {{retrospective-submission-list
                members=model.parent.retrospective.participants
                currentUser=model.parent.currentUser
                userList=true
            }}
        {{/x-card}}
      </div>
    </div>
  </div>
</div>
