<div class="nav-push">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {{#x-card title="Score the sprint" overlay=submitted}}
            <div class="row scores">
                <div class="col-xs-4 col-lg-12 mg-bottom-md score-legend">
                    <div class="row text-center">
                        <div class="col-lg-3 col-lg-offset-1 danger-text">
                            {{fa-icon "frown-o" size="4"}}
                        </div>
                        <div class="col-lg-4 warning-text">
                            {{fa-icon "meh-o" size="4"}}
                        </div>
                        <div class="col-lg-3 success-text">
                            {{fa-icon "smile-o" size="4"}}
                        </div>
                    </div>
                </div>
                <div class="col-xs-8 col-lg-12 score-input">
                    <div class="row">
                        <div class="col-lg-1 col-lg-offset-1 text-center radio-button">
                            <input checked="{{if (eq score 1) 'checked'}}" type="radio" id="score-1" value="1" name="sprintScore" />
                            <label for="score-1" class="sprint-score score-1">
                                1
                            </label>
                        </div>
                        <div class="col-lg-1 radio-button">
                            <input checked="{{if (eq score 2) 'checked'}}" type="radio" id="score-2" value="2" name="sprintScore" />
                            <label for="score-2" class="sprint-score score-2">
                                2
                            </label>    
                        </div>
                        <div class="col-lg-1 radio-button">
                            <input checked="{{if (eq score 3) 'checked'}}" type="radio" id="score-3" value="3" name="sprintScore" />
                            <label for="score-3" class="sprint-score score-3">
                                3
                            </label>
                        </div>
                        <div class="col-lg-1 radio-button">
                            <input checked="{{if (eq score 4) 'checked'}}" type="radio" id="score-4" value="4" name="sprintScore" />
                            <label for="score-4" class="sprint-score score-4">
                                4
                            </label>
                        </div>
                        <div class="col-lg-1 radio-button">
                            <input checked="{{if (eq score 5) 'checked'}}" type="radio" id="score-5" value="5" name="sprintScore" />
                            <label for="score-5" class="sprint-score score-5">
                                5
                            </label>
                        </div>
                        <div class="col-lg-1 radio-button">
                            <input checked="{{if (eq score 6) 'checked'}}" type="radio" id="score-6" value="6" name="sprintScore" />
                            <label for="score-6" class="sprint-score score-6">
                                6
                            </label>
                        </div>
                        <div class="col-lg-1 radio-button">
                            <input checked="{{if (eq score 7) 'checked'}}" type="radio" id="score-7" value="7" name="sprintScore" />
                            <label for="score-7" class="sprint-score score-7">
                                7
                            </label>
                        </div>
                        <div class="col-lg-1 radio-button">
                            <input checked="{{if (eq score 8) 'checked'}}" type="radio" id="score-8" value="8" name="sprintScore" />
                            <label for="score-8" class="sprint-score score-8">
                                8
                            </label>
                        </div>
                        <div class="col-lg-1 radio-button">
                            <input checked="{{if (eq score 9) 'checked'}}" type="radio" id="score-9" value="9" name="sprintScore" />
                            <label for="score-9" class="sprint-score score-9">
                                9
                            </label>
                        </div>
                        <div class="col-lg-1 radio-button">
                            <input checked="{{if (eq score 10) 'checked'}}" type="radio" id="score-10" value="10" name="sprintScore" />
                            <label for="score-10" class="sprint-score score-10">
                                10
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                {{#if submitted}}
                    <button disabled id="score-submit" {{action "submitScore"}} class="btn btn-success mg-bottom-lg">{{fa-icon "check" fixedWidth=true}} Score Submitted</button>
                {{else}}
                    <button id="score-submit" {{action "submitScore"}} class="btn btn-success mg-bottom-lg">Submit Score</button>
                {{/if}}
            </div>
        {{/x-card}}
      </div>
      <div class="col-md-4">
        {{#if model.parent.isModerator}}
          {{#x-callout-card title="Moderator"}}
            <div class="card-header">
                {{x-timer}}
            </div>
            <a onclick={{route-action "changeRetrospectiveState" "score" 1}} class="btn btn-block btn-success btn-lg btn-callout">Continue {{fa-icon "angle-right" fixedWidth=true}}</a>
            <div class="row">
                <div class="col-xs-6">
                    <a onclick={{route-action "changeRetrospectiveState" "score" -1}} class="btn btn-block btn-info btn-outline">{{fa-icon "angle-left" fixedWidth=true}} Back</a>
                </div>
                <div class="col-xs-6">
                    <a onclick={{route-action "confirmAction" "Are you sure you want to cancel the retrospective in progress?" (route-action "cancelRetrospective" retrospective)}} class="btn btn-block btn-danger btn-outline">{{fa-icon "times" fixedWidth=true}} Cancel</a>
                </div>
            </div>
          {{/x-callout-card}}
        {{/if}}
        {{#x-card title="Participants"}}
            {{retrospective-submission-list
                members=model.parent.retrospective.participants
                submitted=model.scores 
                currentUser=model.parent.currentUser
            }}
        {{/x-card}}
      </div>
    </div>
  </div>
</div>
