<ul class="action-list">
  {{#each sortedMembers as |member|}}
    <li class="progress-list">
      <div class="list-item">{{gravatar-image class="gravatar-nav" email=member.email}} {{member.username}}</div>
      <div class="list-actions">
        {{#if userList}}
          {{fa-icon "user" class="success-text"}}
        {{else}}
          {{#if (contains member submittedMembers)}}
            {{fa-icon "check" class="success-text"}}
          {{else}}
            {{fa-icon "refresh" class="info-text" spin=true}}
          {{/if}}
        {{/if}}
      </div>
    </li>
  {{/each}}
</ul>