<div class="nav-push">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {{#x-card title="What Went Well"}}
          <div class="row">
            <div class="col-md-12 d-flex flex-row">
              <div class="feedback-col flex-fill">
                {{#x-note/static
                    data=active_feedback 
                    isAnonymous=model.retrospective.isAnonymous 
                    isModerator=isModerator 
                    type="good"
                    onFlag=(action "openActionModal" active_feedback)
                }}
                  {{active_feedback.message}}
                {{/x-note/static}}
              </div>
              {{#if isModerator}}
                <div class="feedback-nav d-flex flex-column mg-left-md">
                  <a role="button" {{action "moveFeedback" model.feedback -1}}>{{fa-icon "arrow-circle-up" size=5 fixedWidth=true}}</a>
                  <a role="button" {{action "moveFeedback" model.feedback 1}}>{{fa-icon "arrow-circle-down" size=5 fixedWidth=true}}</a>
                  <h4 class="text-center mg-top-sm"><strong>{{current_feedback_count}}/{{model.feedback.length}}</strong></h4>
                </div>
              {{/if}}
            </div>
          </div>
        {{/x-card}}
      </div>
      <div class="col-md-4">
        {{#if isModerator}}
          {{#x-card/callout title="Moderator"}}
            <div class="card-header">
              {{x-timer}}
            </div>
            <a role="button" onclick={{action "changeRetrospectiveState" model.retrospective "sticky-notes.board-positive" 1}} class="btn btn-block btn-success btn-lg btn-callout">Continue {{fa-icon "angle-right" fixedWidth=true}}</a>
            <div class="row">
              <div class="col-xs-6">
                <a role="button" onclick={{action "changeRetrospectiveState" model.retrospective "sticky-notes.board-positive" -1}} class="btn btn-block btn-info btn-outline">{{fa-icon "angle-left" fixedWidth=true}} Back</a>
              </div>
              <div class="col-xs-6">
                <a role="button" onclick={{action "onConfirm" "Are you sure you want to cancel the retrospective in progress?" (action "cancelRetrospective" model.retrospective)}} class="btn btn-block btn-danger btn-outline">{{fa-icon "times" fixedWidth=true}} Cancel</a>
              </div>
            </div>
          {{/x-card/callout}}
        {{/if}}
        {{#x-card title="Participants"}}
          {{x-list/retrospective/submission
                members=model.retrospective.participants
                currentUser=currentUser
                userList=true
            }}
        {{/x-card}}
      </div>
    </div>
  </div>
</div>

{{#if isActionModalShowing}}
  {{#x-modal
    onClose=(action "closeActionModal")
    title="Take Action"
  }}
    {{#x-modal-body}}
      <p>If your team wants to do something in regards to this feedback, enter how you plan to take action.</p>
      {{textarea class="form-control" value=actionMessage}}
    {{/x-modal-body}}
    {{#x-modal-footer}}
      <a role="button" {{action "closeActionModal"}} class="btn btn-default btn-outline">Cancel</a>
      {{#if activeFeedback.action.message}}
        <a role="button" {{action "submitActionItem"}} class="btn btn-success">Update</a>
      {{else}}
        <a role="button" {{action "submitActionItem"}} class="btn btn-success">Submit</a>
      {{/if}}
    {{/x-modal-footer}}
  {{/x-modal}}
{{/if}}