<div class="nav-push pre-login">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div id="tour-feedback">
          {{#x-card title="Provide feedback for the sprint" overlay=submitted}}
            <div class="row feedbacks">
              {{#each model.gameInput as |input|}}
                <div class="col-md-6">
                  <label for={{concat input.idPrefix "-textarea"}}>
                    <p><strong>{{input.label}}</strong></p>
                  </label>
                  {{textarea rows="10" data-type=input.type id=(concat input.idPrefix "-textarea") class="form-control" value=input.value}}
                </div>
              {{/each}}
            </div>
            <div class="card-footer">
              {{#if submitted}}
                <span id="tour-submit-feedback">
                  <button disabled {{action "submit"}} class="btn btn-success mg-bottom-lg">{{fa-icon "check" fixedWidth=true}} Feedback Submitted</button>
                </span>
              {{else}}
                <button id="tour-submit-feedback" {{action "submit"}} class="btn btn-success mg-bottom-lg">Submit Feedback</button>
              {{/if}}
            </div>
          {{/x-card}}
        </div>
      </div>
      <div class="col-md-4">
        {{#x-card/callout title="Moderator"}}
          <div class="card-header">
            {{x-timer}}
          </div>
          <a role="button" {{action "continue" "demo.feedback"}} id="tour-feedback-continue" class="btn btn-block btn-success btn-lg btn-callout">Continue {{fa-icon "angle-right" fixedWidth=true}}</a>
          <div class="row">
            <div class="col-xs-6">
              <a role="button" {{action "back" "demo.start"}} id="tour-feedback-back" class="btn btn-block btn-info btn-outline">{{fa-icon "angle-left" fixedWidth=true}} Back</a>
            </div>
            <div class="col-xs-6">
              <a role="button" {{action "cancel"}} id="tour-cancel" class="btn btn-block btn-danger btn-outline">{{fa-icon "times" fixedWidth=true}} Cancel</a>
            </div>
          </div>
        {{/x-card/callout}}
        <div id="tour-feedback-participants">
          {{#x-card title="Participants"}}
            {{demo/x-list/retrospective/submission
              members=model.retrospective.participants
              submitted=model.feedbackSubmissions 
              currentUser=currentUser
            }}
          {{/x-card}}
        </div>
      </div>
    </div>
  </div>
</div>

{{#if showModal}}
  {{#x-modal
    onClose=(action "start")
    title="Failed to Process Request"
    type="error"
  }}
    {{#x-modal-body}}
      You must enter some feedback before submitting. Please enter some feedback and try submitting again.
    {{/x-modal-body}}
    {{#x-modal-footer}}
      <button {{action "close"}} type="button" class="btn btn-default">Got It</button>
    {{/x-modal-footer}}
  {{/x-modal}}
{{/if}}