<div class="nav-push">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {{#x-card title="Provide feedback for the sprint" overlay=submitted}}
            <div class="row">
                {{#each model.gameInput as |input|}}
                    <div class="col-md-6">
                        <label for="{{concat input.idPrefix '-textarea'}}"><p><strong>{{input.label}}</strong></p></label>
                        {{#textarea rows="10" id=(concat input.idPrefix "-textarea") class="form-control"}}
                        {{/textarea}}
                    </div>
                {{/each}}
            </div>
        {{/x-card}}
        {{#if submitted}}
            <button disabled id="feedback-submit" {{action "submitScore"}} class="btn btn-block btn-success mg-bottom-lg">{{fa-icon "check" fixedWidth=true}} Feedback Submitted</button>
        {{else}}
            <button id="feedback-submit" {{action "submitScore"}} class="btn btn-block btn-success mg-bottom-lg">Submit Feedback</button>
        {{/if}}
      </div>
      <div class="col-md-4">
        {{#if model.parent.isModerator}}
          {{#x-card title="Moderator"}}
            <a onclick={{route-action "changeRetrospectiveState" 4}} class="btn btn-block btn-success">Continue</a>
          {{/x-card}}
        {{/if}}
        {{#x-card title="Retrospective Participants"}}
            {{retrospective-submission-list
                members=model.parent.team_members
                submitted=model.feedback 
                currentUser=model.parent.currentUser
            }}
        {{/x-card}}
      </div>
    </div>
  </div>
</div>
