<div class="nav-push">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {{#x-card title="Provide feedback for the sprint" overlay=submitted}}
            <div class="row feedbacks">
                {{#each model.gameInput as |input|}}
                    <div class="col-md-6">
                        <label for="{{concat input.idPrefix '-textarea'}}"><p><strong>{{input.label}}</strong></p></label>
                        {{#textarea rows="10" data-type=input.type id=(concat input.idPrefix "-textarea") class="form-control" value=input.value}}
                        {{/textarea}}
                    </div>
                {{/each}}
            </div>
            <div class="card-footer">
                {{#if submitted}}
                    <button disabled id="feedback-submit" {{action "submitFeedback"}} class="btn btn-success mg-bottom-lg">{{fa-icon "check" fixedWidth=true}} Feedback Submitted</button>
                {{else}}
                    <button id="feedback-submit" {{action "submitFeedback"}} class="btn btn-success mg-bottom-lg">Submit Feedback</button>
                {{/if}}
            </div>
        {{/x-card}}
      </div>
      <div class="col-md-4">
        {{#if model.parent.isModerator}}
          {{#x-card title="Moderator"}}
            <a onclick={{route-action "changeRetrospectiveState" 4}} class="btn btn-block btn-success">Continue</a>
          {{/x-card}}
        {{/if}}
        {{#x-card title="Retrospective Participants"}}
            {{retrospective-submission-list
                members=model.parent.retrospective.participants
                submitted=model.feedback 
                currentUser=model.parent.currentUser
            }}
        {{/x-card}}
      </div>
    </div>
  </div>
</div>
