<div class="pad-bottom-md text-center">
  <img src="/img/mirror-logo.svg" alt="logo" class="logo--sm">
  <h2 class="pad-top-sm">Log In</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      {{#x-card}}
        {{#if errors}}
          <div class="alert alert-danger" role="alert">
            {{fa-icon "exclamation-triangle"}} Invalid username or password.
          </div>
        {{/if}}
        <form>
          <div class="form-group input-group-icon">
            {{input type="text" class="form-control" id="login-username" placeholder="Username" value=model.username}}
            {{fa-icon "user" fixedWidth=true}}
          </div>
          <div class="form-group input-group-icon">
            {{input type="password" class="form-control" id="login-password" placeholder="Password" value=model.password}}
            {{fa-icon "key" fixedWidth=true}}
            <p class="help-block text-center">Forgot your {{#link-to "auth.forgot.username"}}username{{/link-to}} or {{#link-to "auth.forgot.password"}}password{{/link-to}}?</p>
          </div>
          <button {{action "doLogin"}} type="submit" class="btn btn-success btn-lg btn-block">Log In</button>
          <p class="help-block text-center">{{#link-to "auth.register"}}Don't have an account yet?{{/link-to}}</p>
        </form>
      {{/x-card}}
    </div>
  </div>
</div>
