<div class="container">
  <div class="row">
    {{#if model.team.organization}}
      <div class="col-md-8">
        {{#x-card title="Billing"}}
          Billing is managed through a team's parent organization. The organization that handles this team is <strong>{{model.team.organization.name}}</strong>. If you are one of the organization admins (TODO), please update your billing information there. If you are not, please notify an organization admin that the organization needs attention.
        {{/x-card}}
      </div>
      <div class="col-md-4">
        {{#x-card title="Billing Status"}}
          <ul class="icons-list">
            {{#if (eq model.team.organization.billing_status "active")}}
              <li class="icons-list--active">
                Active
              </li>
            {{else}}
              <li class="icons-list--inactive">
                Inactive
              </li>
            {{/if}}
          </ul>
        {{/x-card}}
      </div>
    {{else}}
      <div class="col-md-12">
        {{#x-card title="Billing"}}
          <h3 class="text-center">Billing for a team is managed by a parent organization.</h3>
          <p class="text-center pad-bottom-lg">Since your team does not have a parent organization yet, you must add it to or create an organization to provide billing information.</p>
          <div class="row">
            {{#if model.user_organizations}}
              <div class="col-md-4 text-center marketing-block marketing-block-stacked">
                <img class="marketing-icon" src="/img/marketing/use-user.svg" />
                <h4>Add To One Of Your Organizations</h4>
                <p>It's easy to add the team to an organization that you already administrate.</p>
                <a {{action 'toggleJoinOwnOrganizationModal'}} class="btn btn-success btn-block">Join One Of Your Organizations</a>
              </div>
            {{/if}}
            <div class="{{if model.user_organizations "col-md-4" "col-md-6"}} text-center marketing-block marketing-block-stacked">
              <img class="marketing-icon" src="/img/marketing/cha-plus.svg" />
              <h4>Create A New Organization</h4>
              <p>If you don't already have an organization, you can create one in a single step.</p>
              <a {{action 'toggleCreateNewOrganizationModal'}} class="btn btn-success btn-block">Create A New Organization</a>
            </div>
            <div class="{{if model.user_organizations "col-md-4" "col-md-6"}} text-center marketing-block marketing-block-stacked">
              <img class="marketing-icon" src="/img/marketing/use-user-user-user.svg" />
              <h4>Add To Another Organization</h4>
              <p>If you don't own the organization, you can submit a request for your team to be added.</p>
              <a {{action 'toggleJoinAnotherOrganizationModal'}} class="btn btn-success btn-block">Request To Add To Another Organization</a>
            </div>
          </div>
        {{/x-card}}
      </div>
    {{/if}}
  </div>
</div>

{{#if isJoinOwnOrganizationModalShowing}}
  {{#x-modal
    onClose=(route-action "toggleJoinOwnOrganizationModal")
    title="Join One Of Your Organizations"
  }}
    {{#x-modal-body}}
      <p>Select the organization below that you want to associate this team with.</p>
      <ul class="radio-list">
        {{#each model.user_organizations as |organization|}}
          <li>
            <div class="radio-button">
                <input type="radio" id={{concat "organization-" organization.id}} value="{{organization.id}}" name="billing-add-organization" />
                <label for={{concat "organization-" organization.id}} class="radio-list--item">
                    {{organization.name}}
                </label>
            </div>
          </li>
        {{/each}}
      </ul>
    {{/x-modal-body}}
    {{#x-modal-footer}}
      <a {{action 'toggleJoinOwnOrganizationModal'}} class="btn btn-default btn-outline">Cancel</a>
      <a {{action 'joinOwnOrganization'}} class="btn btn-success">Join</a>
    {{/x-modal-footer}}
  {{/x-modal}}
{{/if}}

{{#if isCreateNewOrganizationModalShowing}}
  {{#x-modal
    onClose=(route-action "toggleCreateNewOrganizationModal")
    title="Create A New Organization"
  }}
    {{#x-modal-body}}
      <p>Enter the name of the organization you'd like to create below. You will automatically become an admin of the organization and this team will automatically be added to the organization.</p>
      <div class="form-group input-group-icon">
        {{input type="text" class="form-control" placeholder="Organization Name" value=newOrganizationName}}
        {{fa-icon "group" fixedWidth=true}}
      </div>
    {{/x-modal-body}}
    {{#x-modal-footer}}
      <a {{action 'toggleCreateNewOrganizationModal'}} class="btn btn-default btn-outline">Cancel</a>
      <a {{action 'createOrganization'}} class="btn btn-success">Create</a>
    {{/x-modal-footer}}
  {{/x-modal}}
{{/if}}

{{#if isJoinAnotherOrganizationModalShowing}}
  {{#x-modal
    onClose=(route-action "toggleJoinAnotherOrganizationModal")
    title="Join Another Organization"
  }}
    {{#x-modal-body}}
      Select the organization below that you want to associate the team with.
      {{#each model.user_organizations as |organization|}}
        {{organization.name}}
      {{/each}}
    {{/x-modal-body}}
    {{#x-modal-footer}}
      <a {{action 'toggleJoinAnotherOrganizationModal'}} class="btn btn-default btn-outline">Cancel</a>
      <a {{action 'startRetrospective'}} class="btn btn-success">Join</a>
    {{/x-modal-footer}}
  {{/x-modal}}
{{/if}}