<div class="nav-push">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="pad-bottom-md text-center">
          <img src="/img/mirror-logo.svg" class="logo--sm" alt="logo">
          <h2 class="pad-top-sm">Create A Team</h2>
        </div>
        {{#x-card}}
          {{#if unexpectedError}}
            <div class="alert alert-danger" role="alert">
              {{fa-icon "exclamation-triangle"}} {{unexpectedError}}
            </div>
          {{/if}}
          <div class="form-group input-group-icon {{if teamError "has-error"}}">
            {{input type="text" class="form-control" placeholder="Team Name" value=model.name}}
            {{fa-icon "group" fixedWidth=true}}
          </div>
          {{#if teamError}}
            <p class="help-block creation text-danger">{{teamError}}</p>
          {{/if}}
          <hr>
          <label>Team Members</label>
          <form {{action "addTeamMemberEmail" newTeamMemberEmail on="submit"}}>
            <div id="team-create-current-user" class="form-group input-group-icon">
              {{input readonly="true" type="text" class="form-control" value=session.currentUser.email}}
              {{fa-icon "user" fixedWidth=true}}
            </div>
            {{#each teamMemberEmails as |teamMemberEmail|}}
              <div class="form-group input-group input-group-icon {{if teamMemberEmail.error "has-error"}}">
                {{input type="text" class="form-control" id=(concat "team-member-email-"  teamMemberEmail.index)  placeholder="Team Member Email" value=teamMemberEmail.email}}
                {{fa-icon "user" fixedWidth=true}}
                <div class="input-group-btn">
                  <button {{action "removeTeamMemberEmail" teamMemberEmail}} class="btn btn-danger simple-action" type="button">-</button>
                </div>
              </div>
              {{#if teamMemberEmail.error}}
                <p class="help-block creation text-danger">{{teamMemberEmail.error}}</p>
              {{/if}}
            {{/each}}
            <button class="btn btn-success simple-action" type="submit">Add Another Team Member</button>
          </form>
          <div class="card-footer">
            <button {{action "createTeam"}} type="submit" class="btn btn-success">Create Team</button>
          </div>
        {{/x-card}}
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
</div>

{{#if currentlyLoading}}
  <div class="loading-screen">
    {{x-loader message="Creating Your New Team..."}}
  </div>
{{/if}}