<div class="nav-push">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {{#if model.feedback}}
          <h3 class="title">Straw</h3>
          {{#x-note/static
              data=active_feedback 
              isAnonymous=model.retrospective.isAnonymous 
              isModerator=isModerator 
              type="bad"
              onFlag=(action "openActionModal" active_feedback)
              onPrevious=(action "moveFeedback" model.feedback -1)
              onNext=(action "moveFeedback" model.feedback 1)
              counter=card_state
          }}
            {{active_feedback.message}}
          {{/x-note/static}}
        {{else}}
          {{#x-card title="Straw"}}
            No one submitted anything about what they thought the weak points of the team are! Are you sure there's nothing you could be doing better at all? <strong>Make sure the team acknowledges problem areas, or no one will be able to learn from them!</strong>
          {{/x-card}}
        {{/if}}
      </div>
      <div class="col-md-4">
        {{#if isModerator}}
          {{#x-card/callout title="Moderator"}}
            <div class="card-header">
              {{x-timer}}
            </div>
            <a role="button" onclick={{action "changeRetrospectiveState" model.retrospective "three-little-pigs.board-straw" 1}} class="btn btn-block btn-success btn-lg btn-callout">Continue {{fa-icon "angle-right" fixedWidth=true}}</a>
            <div class="row">
              <div class="col-xs-6">
                <a role="button" onclick={{action "changeRetrospectiveState" model.retrospective "three-little-pigs.board-straw" -1}} class="btn btn-block btn-info btn-outline">{{fa-icon "angle-left" fixedWidth=true}} Back</a>
              </div>
              <div class="col-xs-6">
                <a role="button" onclick={{action "onConfirm" "Are you sure you want to cancel the retrospective in progress?" (action "cancelRetrospective" model.retrospective)}} class="btn btn-block btn-danger btn-outline">{{fa-icon "times" fixedWidth=true}} Cancel</a>
              </div>
            </div>
          {{/x-card/callout}}
        {{/if}}
        {{#x-card title="Participants"}}
          {{x-list/retrospective/submission
                members=model.retrospective.participants
                currentUser=currentUser
                userList=true
            }}
        {{/x-card}}
      </div>
    </div>
  </div>
</div>

{{#if isActionModalShowing}}
  {{#x-modal
    onClose=(action "closeActionModal")
    title="Take Action"
  }}
    {{#x-modal-body}}
      <p>If your team wants to do something in regards to this feedback, enter how you plan to take action.</p>
      {{textarea class="form-control" value=actionMessage}}
    {{/x-modal-body}}
    {{#x-modal-footer}}
      <a role="button" {{action "closeActionModal"}} class="btn btn-default btn-outline">Cancel</a>
      {{#if activeFeedback.action.message}}
        <a role="button" {{action "submitActionItem"}} class="btn btn-success">Update</a>
      {{else}}
        <a role="button" {{action "submitActionItem"}} class="btn btn-success">Submit</a>
      {{/if}}
    {{/x-modal-footer}}
  {{/x-modal}}
{{/if}}