{{#each (sort-by "id:desc" cards) as |card|}}
    <li class={{if (eq card.id default_payment) "default"}}>
        <div class="card-brand">
            <img class="img-responsive" src={{concat (concat "/img/cards/" (dasherize card.brand)) ".png"}} />
        </div>
        <div class="info">
            <h4>{{card.brand}} xxxxx-{{card.last4}}</h4>
            <p class="expiration muted-text">Expires {{card.exp_month}}/{{card.exp_year}} • Added {{moment-format card.added_date "MMMM Do, YYYY"}}</p>
        </div>
        <div class="actions">
            {{#unless (eq card.id default_payment)}}
                <a class="btn btn-success btn-outline btn-xs">
                    {{fa-icon "check" fixedWidth=true}}
                    {{#tooltip-on-element side="bottom"}}
                        Make Default
                    {{/tooltip-on-element}}
                </a>
            {{/unless}}
            <a {{action onEdit card}} class="btn btn-info btn-outline btn-xs">
                {{fa-icon "pencil" fixedWidth=true}}
                {{#tooltip-on-element side="bottom"}}
                    Edit
                {{/tooltip-on-element}}
            </a>
            {{#unless (eq card.id default_payment)}}
            <a {{action onConfirm "Are you sure you want to remove this card?" (action onDelete card)}} class="btn btn-danger btn-outline btn-xs">
                {{fa-icon "times" fixedWidth=true}}
                {{#tooltip-on-element side="bottom"}}
                    Delete
                {{/tooltip-on-element}}
            </a>
            {{/unless}}
        </div>
    </li>
{{/each}}