<div class="container">
  <div class="row">
    <div class="col-md-8">
      {{#x-card title="Members"}}
        {{team-member-list
          members=model.members
          team=model.team
          currentUser=model.currentUser
          isAdmin=isAdmin
          onDelete=(route-action "deleteMember")}}
      {{/x-card}}
    </div>
    <div class="col-md-4">
      {{#x-card title="Helpful Tips"}}
        <ul class="tips">
          {{#if isAdmin}}
            <li>
              Make another team member a team admin using
              the <span class="success-text">{{fa-icon "arrow-up"}}</span>
              button.
            </li>

            <li>
              To remove a member from the team, select the respective
              <span class="danger-text">{{fa-icon "user-times"}}</span>
              button.
            </li>

            <li>
              To leave the team, use the <span class="danger-text">{{fa-icon "sign-out"}}</span>
              button. There must be at least one other admin on the team for you to leave.
            </li>
          {{else}}
            <li>
              To leave the team, use the <span class="danger-text">{{fa-icon "sign-out"}}</span>
              button.
            </li>
          {{/if}}

          <li>
            Use the <span class="info-text">{{fa-icon "user-circle"}}</span> button
            to view the team member's profile.
          </li>
        </ul>
      {{/x-card}}
    </div>
  </div>
</div>

{{#if adminWarning}}
  {{#x-notification-modal
    title="Something Went Wrong"
    type="error"
    onClose=(route-action "toggleAdminWarning")}}
    It looks like you're currently the only admin on the team. In order to leave
    the team, you must assign another admin.
  {{/x-notification-modal}}
{{/if}}

{{#if confirmRemoveModal}}
  {{#x-confirm-modal
    title="Are you sure?"
    onClose=(route-action "toggleModal")
    onCancel=(route-action "toggleModal")
    onConfirm=(route-action "toggleModal")}}
    Oh hai there!
  {{/x-confirm-modal}}
{{/if}}
